<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.wikibook.gallery.order.OrderTempMapper">
    <insert id="save">
        INSERT INTO orders_temp
        <trim prefix="SET" suffixOverrides=",">
            uuid = #{uuid},
            <if test="memberId != null and memberId != 0">
                member_id = #{memberId},
            </if>
            <if test="guestId != null and guestId != ''">
                guest_id = #{guestId},
            </if>
            name = #{name},
            address = #{address},
            payment = #{payment},
            <if test="cardNumber != null and cardNumber != ''">
                card_number = #{cardNumber},
            </if>
            <if test="kakaoTid != null and kakaoTid != 0">
                kakao_tid = #{kakaoTid},
            </if>
            amount = #{amount}
        </trim>
    </insert>
</mapper>