<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.wikibook.gallery.order.OrderMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="orderId">
        INSERT INTO orders
        <trim prefix="SET" suffixOverrides=",">
            <if test="memberId != null and memberId != 0">
                member_id = #{memberId},
            </if>
            <if test="guestId != null and guestId != ''">
                guest_id = #{guestId},
            </if>
            name = #{name},
            address = #{address},
            payment = #{payment},
            <if test="cardNumber != null and cardNumber != ''">
                card_number = #{cardNumber},
            </if>
            amount = #{amount}
        </trim>
    </insert>

    <select id="findAllByMemberIdOrderByIdDesc">
        SELECT id, name, payment, amount, created
        FROM orders
        WHERE member_id = #{memberId}
        ORDER BY id DESC
    </select>

    <select id="findByOrderIdAndMemberId">
        SELECT id, name, address, payment, amount, created
        FROM orders
        WHERE id = #{orderId}
        AND member_id = #{memberId}
    </select>
</mapper>